body{
  overflow-x: hidden;
} 
nav.navbar.top {
  width: 100%;
  height: 60px;
  background: #ffffff;
  /* background: salmon; */
  border-bottom: 1px solid var(--border-color);
  box-shadow: var(--shadow-md);
  padding: 0;
}
nav.navbar.top > div{
  height: 100%;
}
nav.navbar.top > div > .content{
  width: 100%;
  height: 100%;
  display: flex;
}
nav.navbar.top > div > .content > div{
  height: 100%;
  display: flex;
  align-items: center;
}
nav.navbar.top > div > .content .brand, 
nav.navbar.top > div > .content .item {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 100%;
}
nav.navbar.top > div > .content .left .brand{
  margin-right: 2rem;
  height: 100%;
  letter-spacing: 4px;
}
nav.navbar.top > div > .content .left .item{
  height: 100%;
  padding: 0 0.5rem;
  color: var(--bs-secondary);
  transition: 0.4s;
  letter-spacing: 2px;
}
nav.navbar.top > div > .content .left .item:hover,
nav.navbar.top > div > .content .left .item.active{
  background: var(--primary-transparent);
  color: var(--simple-active);
  position: relative;
}
nav.navbar.top > div > .content .left .item:hover::after,
nav.navbar.top > div > .content .left .item.active::after{
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: var(--primary-transparent);
  transform: translateY(1px);
}

nav.navbar.top > div > .content .left .item#sidebar_toggle{
  margin-right: 0.5rem;
}
nav.navbar.top > div > .content .left .item#sidebar_toggle:hover{
  background: unset;
  color: unset;
}

nav.navbar.top > div > .content .right .item#user > div > img{
  width: 40px;
  object-position: center;
  object-fit: cover;
}
nav.navbar.top > div > .content .right .item{
  padding: 0 0.5rem;
  position: relative;
}
nav.navbar.top > div > .content .right .item#notification::after{
  content: attr(data-count);
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  background: var(--bs-danger);
  font-weight: bolder;
  color: var(--bs-light);
  padding: 0 5px;
  font-size: 12px;
  border-radius: 25px;
  transform: translate(0, 75%);
}
nav.navbar.top > div > .content .right .item#user .text{
  margin-left: 0.4rem;
}
nav.navbar.top > div > .content .right .item#user .text::after{
  content: "\f078";
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900; 
  margin-left: 6px;
}
nav.navbar.top > div > .content .right .item#user .dropdown-menu{
  margin-top: 12px;
  border-radius: 18px;
  border-top-right-radius: 0;
  border: 0;
  padding: 0;
  overflow: hidden;
  box-shadow: var(--shadow-md);
}
nav.navbar.top > div > .content .right .item#user .dropdown-menu > .content{
  width: 300px;
}
nav.navbar.top > div > .content .right .item#user .dropdown-menu > .content > .header{
  width: 100%;
  height: 75px;
  background: var(--bs-secondary);
  padding: 1rem;
  border: 1px solid var(--bg-danger);
  border-bottom: 0;
  border-top-left-radius: 18px;
}
nav.navbar.top > div > .content .right .item#user .dropdown-menu > .content > .header .header-text{
  margin-top: auto;
  transform: translate(0, 8px);
}
nav.navbar.top > div > .content .right .item#user .dropdown-menu > .content > .header img{
  width: 85px;
  object-fit: cover;
  object-position: center;
  margin-right: 1rem;
}
nav.navbar.top > div > .content .right .item#user .dropdown-menu > .content > .body{
  width: 100%;
  border: 1px solid var(--border-color);
  border-top: 0;
  border-bottom: 0;
  background: var(--bs-light);
  padding: 1rem 0;
  padding-top: 1.8rem;
}
nav.navbar.top > div > .content .right .item#user .dropdown-menu > .content > .body .item{
  padding: 0.4rem 0.5rem;
  transition: 0.4s;
  border-bottom: 1px solid var(--border-color);
}
nav.navbar.top > div > .content .right .item#user .dropdown-menu > .content > .body .item .notif::after{
  content: attr(data-count);
  height: 100%;
  background: var(--bs-danger);
  margin-left: 0.25rem;
  padding: 3px;
  color: var(--bs-light);
  border-radius: 3px;
}
nav.navbar.top > div > .content .right .item#user .dropdown-menu > .content > .body .item:hover{
  background: var(--primary-transparent);
}
nav.navbar.top > div > .content .right .item#user .dropdown-menu > .content > .footer{
  width: 100%;
  background: var(--bs-white);
  border: 1px solid var(--border-color);
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  padding: 0.8rem 1rem;
}